* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #dedede;
}

main {
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

h1 {
  text-align: center;
  grid-column: span 2;
}

button, field, input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #666;
}

#settings {
  grid-column: span 2;
}

main > div {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}